# Template for creating Kubernetes Secret for certificates
# DO NOT commit actual certificates to version control
#
# Manual creation from certificate files:
# kubectl create secret generic auth-certs \
#   --from-file=private.pem=./auth/certs/private.pem \
#   --from-file=public.pem=./auth/certs/public.pem \
#   --dry-run=client -o yaml | kubectl apply -f -
#
# Or if you have the files in a different location:
# kubectl create secret generic auth-certs \
#   --from-file=private.pem=/path/to/private.pem \
#   --from-file=public.pem=/path/to/public.pem \
#   --dry-run=client -o yaml | kubectl apply -f -
#
# Note: The secret will be mounted as a volume in the deployment
# at the path specified by CERT_PATH in the ConfigMap (default: /app/certs)

apiVersion: v1
kind: Secret
metadata:
  name: auth-certs
  namespace: default
type: Opaque
# The actual certificate files should be added via kubectl create command above
# This template is for reference only

